WebSiteClient/App_WebReferences/WebReference/JDServers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadBatchFact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batchFact" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBatchFactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadBatchFactResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadBatchFactSoapIn">
    <wsdl:part name="parameters" element="tns:UploadBatchFact" />
  </wsdl:message>
  <wsdl:message name="UploadBatchFactSoapOut">
    <wsdl:part name="parameters" element="tns:UploadBatchFactResponse" />
  </wsdl:message>
  <wsdl:portType name="JDServersSoap">
    <wsdl:operation name="UploadBatchFact">
      <wsdl:input message="tns:UploadBatchFactSoapIn" />
      <wsdl:output message="tns:UploadBatchFactSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JDServersSoap" type="tns:JDServersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadBatchFact">
      <soap:operation soapAction="http://tempuri.org/UploadBatchFact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JDServersSoap12" type="tns:JDServersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadBatchFact">
      <soap12:operation soapAction="http://tempuri.org/UploadBatchFact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JDServers">
    <wsdl:port name="JDServersSoap" binding="tns:JDServersSoap">
      <soap:address location="http://192.168.0.160/JDWeb/JDServers.asmx" />
    </wsdl:port>
    <wsdl:port name="JDServersSoap12" binding="tns:JDServersSoap12">
      <soap12:address location="http://192.168.0.160/JDWeb/JDServers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>